@import 'mixins';

.page .-footer {
    margin-bottom: 0;
}

.page.actor {
    .media-left {
        width: 40%;
    }
    .media-object {
        width: 100%;
    }
}

.page.actorset {
    .thumbnail img {
        width: 100%;
    }
}

.page.movieset,
.page.actor,
.page.series {
    .thumbnail {
        background-position: 99% 0;
        background-size: auto 100%;
        background-repeat: no-repeat;

        &:hover {
            background-position: 88% 24%;
            background-size: auto 120%;
        }

        @include transition2(background-position 1s, background-size 1s);

        img {
            visibility: hidden;
            margin-top: 80%;
        }
    }
}
